@import '../../../styles/colors';

div#date-range {
  form {
    display: grid;
    margin-bottom: 20px;
    grid-template-columns:37% 37% 26%;
    label {
      grid-row: 1;
    }
    input, button {
      grid-row: 2;
    }
  }
  div#range-results {
    display: grid;
    padding: 10px;
    grid-template-columns: 50% 50%;
    color: $text;
    border-radius: 10px;
    border: 1px solid $accent;
    span {
      font-weight: bold;
    }
    h2 {
      grid-row: 1;
      grid-column: 1 / 3;
      margin-bottom: 10px;
      padding-bottom: 10px;
      font-size: 1.3em;
      border-bottom: 1px solid $accent;
    }
    p {
      margin: 0;
      grid-row: 2;
    }
  }
  table {
    margin: 20px 0 0 0;
    width: 50%;
    color: $text;
    th, td {
      border-color: $accent;
    }
  }
}