@import '../../styles/colors';

#results {
  #date-range {
    form {
      display: grid;
      margin-bottom: 20px;
      grid-template-columns:37% 37% 26%;
      label {
        grid-row: 1;
      }
      input, button {
        grid-row: 2;
      }
    }
  }

  #alphabet {
    display: grid;
    grid-template-columns: 12.6% 12.6% 12.6% 12.6% 12.6% 12.6% 12.6%;
    grid-column-gap: 2%;
    grid-row-gap: 10px;
    li {
      padding: 5px;
      text-align: center;
      border: 1px solid $accent;
      border-radius: 5px;
      &.active, &:hover {
        background-color: $accent;
        color: white;
        cursor: pointer;
      }
    }
  }

  table {
    margin: 20px 0 0 0;
    width: 100%;
    color: $text;
    th, td {
      border-color: $accent;
    }
    tbody {
      span {
        font-weight: bold;
      }
      tr {
        td {
          font-weight: normal;
        }
      }
    }
    &.half-size {
      float: left;
      width: 50%;
    }
  }
}