//*============ MAIN PAGE ELEMENTS ============*/
	body {
		position:relative;
		margin: 0;
		padding: 0;
		font-size: 100%;
		background-color: $background;
	}

	#wrapper {
		margin: 0 auto 40px auto;
		padding: 20px;
		width: 90%;
		max-width: 600px;
		background-color: white;
		border-radius: 0 0 20px 20px;
		@include boxshadow;
	}

	.clear {
		clear: both;
	}
//*============ END MAIN PAGE ELEMENTS ============*/

//*============ HEADER ============*/
	header {
		position: relative;
		margin-bottom: 30px;
		padding-bottom: 10px;
		color: $main;
		border-bottom: 1px solid $main;
		h1 {
			font-size: 3em;
		}
		p.subheader {
			margin-bottom: 5px;
		}
		p.message {
			position: absolute;
			transform: translate(0, 15px);
		}
		ul {
			position: relative;
			li {
				display: inline;
				&:not(:first-child) {
					&::before {
						content: " | ";
						color: $main;
					}
				}
			}
		}
	}
//*============ END HEADER ============*/

//*============ MAIN ============*/
.admin-message {
	position: absolute;
	transform: translate(0, -20px);
	color: $main;
}
form {
	margin-top: 15px;
	color: $text;
	.highlight {
		color: $main;
	}
	h2 {
		text-align: center;
		font-size: 1.8em;
		margin-bottom: 25px;
	}
	h3 {
		margin-bottom: 10px;
		color: $accent;
	}
	input, textarea, button {
		display: block;
		margin-bottom: 10px;
		padding: .5em 1em;
		font-size: 1em;
		outline: 0;
		transition: all .25s;
		@include round(5px);
	}
	input:not([type="checkbox"]) {
		border: 1px solid lighten(gray, 30%);
		width: 50%;
		&:focus {
			outline-style:none;
			outline-width:initial;
			outline-color:#000000;	
			box-shadow: lighten(gray, 40%) 0px 0px 3px 1px inset;
		}
	}
	input[type="checkbox"] {
		display: inline-block;
		margin-bottom: 15px;
		margin-left: 0;
	}
	span.checkbox-text {
		display: inline-block;
		width: 90%;
		font-size: .9em;
		transform: translate(0, 1px);
		color: red;
	}
	input.inline {
		display: inline;
		margin-right: 10px;
		&.small {
			width: auto;
		}
	}
	label {
		display: block;
		margin-bottom: 5px;
		color: $text;
	}
	button {
		display: inline;
		margin-right: 10px;
		background-color: $accent;
		font-size: 1em;
		color: white;
		border: none;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			background-color: darken($accent, 20%);
		}
	}
}

nav { 
	ul {
		transform: translate(0, -20px);
		margin-bottom: 5px;
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-column-gap: 10px;
		li {
			padding: 10px;
			background-color: white;
			color: $accent;
			border-radius: 5px;
			display: flex;
			align-items: center;
			text-align: center;
			cursor: pointer;
			transition: all .20s;
			&.active, &:hover {
				background-color: $accent;
				color: white;
			}
		}
	}
}
//*============ END MAIN ============*/

//*============ FOOTER ============*/
footer {
	// border-top: 1px solid $main;
	padding-top: 15px;
	text-align: center;
	clear: both;
	color: lighten($text, 20%);
	font-size: .9em;
	ul {
		li {
			display: inline;
			a {
				color: inherit;
				text-decoration: underline;
			}
			&:not(:first-child) {
				&::before {
					content: " | ";
					color: $text;
				}
			}
		}
	}
}
//*============ END FOOTER ============*/
