//*============ MAIN PAGE ELEMENTS ============*/
	body {
		position:relative;
		margin: 0;
		padding: 0;
		font-size: 100%;
	}

	.clear {
		clear: both;
	}
//*============ END MAIN PAGE ELEMENTS ============*/

//*============ HEADER ============*/
	header {
		position: relative;
		padding: 20px;
		color: $text;
		@include boxshadow;
		h1 {
			font: {
				size: 2em;
				color: $text;
			}
		}
		ul {
			position: relative;
			margin-top: 7px;
			li {
				display: inline;
				a {
					color: $text;
					text-decoration: none;
					&:hover {
						text-decoration: none;
						color: $accent;
					}
					&.active {
						color: $main;
					}
				}
				&:not(:first-child) {
					&::before {
						content: " | ";
						color: $text;
					}
				}
			}
		}
	}
//*============ END HEADER ============*/

//*============ MAIN ============*/
main {
}
//*============ END MAIN ============*/

//*============ FOOTER ============*/
footer {
	border-top: 1px solid $main;
	margin-bottom: 30px;
	padding-top: 10px;
	text-align: center;
	clear: both;
	color: $text;
	ul {
		li {
			display: inline;
			&:not(:first-child) {
				&::before {
					content: " | ";
					color: $text;
				}
			}
		}
	}
}
//*============ END FOOTER ============*/
