//*============ TABLES ============*/
	table {
		margin: 20px auto 0 auto;
		width: 85%;
		border-collapse: separate;
		border-spacing: 0;
		text-align: center;
		th, td {
			padding: 10px 15px;
			vertical-align: middle;
			border-top: 1px solid $main;
			border-right: 1px solid $main;
			&:first-child {
				border-left: 1px solid $main;
			}
		}
		thead {
			font-weight: bold;
			font-size: .9em;
			span.heading {
				font-size: 1.4em;
			}
			span.description {
				font-weight: normal;
				color: lighten($text, 20%);
				&.block {
					display: block;
					margin-top: 5px;
				}
			}
			th:first-child {
				width: 56%;
			}
			th:nth-child(2) {
				width: 22%;
			}
			th:last-child {
				width: 22%;
			}
			tr {
				&:first-child {
					th {
						&:first-child {
							border-top-left-radius: 5px;
						}
						&:last-child {
							border-top-right-radius: 5px;
						}
					}
				}
			}
		}
		tbody {
			border-bottom: 1px solid $main;
			span.hidden-link {
				cursor: pointer;
				&:hover {
					color: $main;
				}
			}
			tr:nth-child(odd) {
				background-color: lighten($accent, 41%);
			}
			td:first-child {
				text-align: left;
				font-weight: bold;
			}
			td.info {
				font-weight: normal;
				text-align: center;
			}
			tr:last-child {
				td {
					border-bottom: 1px solid $main;
					&:first-child {
						border-bottom-left-radius: 5px;
					}
					&:last-child {
						border-bottom-right-radius: 5px;
					}
				}
			}
		}
		tfoot {
			td {
				color: lighten($text, 20%);
				font-size: .9em;
				border: none;
				&:first-child {
					border: none;
				}
			}
		}
	}
//*============ END TABLES ============*/